/* src/app/user-list/user-list.component.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .table th {
    background-color: #f4f4f4;
  }

  .form-wrapper{
    text-align: center;
    /* height: 50%; */
    height: 100vh;
    width: 100vw;
    /* position: absolute; */
    margin-top: 50px;
    left: 300px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-form{
    background-color: white;
    width: 600px;
    padding: 10px 50px;
    border-radius: 5px;
}
.btn-primary{
  background-color: blue;
  color:white;
}
.action{
  display: flex;
  justify-content: center;
  gap:100px;
  margin: 30px;
}
.group{
  margin: 15px 0;
}
.group label{
  width: 70px;
  line-height: 30px;
}
  